@charset "utf-8";

body{
	background-color: #f5f5f5;
}


.header{
	height: 150px;
	background-color: gray;
}

.header img{
	height: 100px;
	margin-top: 25px;
}


/********項目名****************/

.sub{
	text-align: left;
	font-weight: bold;
/*	font-size: 16px;*/
}

.box{
	text-align: left;
}


/********必須マーク*************/

.required{
	background-color: #dc143c;
	color: #fff;
	padding: 0px 7px;
	margin-left: 5px;
}

/**********テキストボックス***********/

.textbox{
	width: 94%;
	padding : 10px 8px;
	margin: 3px 3px 3px 12px;
	border-radius : 5px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
/*	font-size: 16px;*/
}


/********テキストエリア*************/

textarea{
	resize: vertical;
	min-height: 40px;
	width: 94%;
	height: 100px;
	border-radius : 5px;
	background-color: #fff;
/*	font-size: 16px;*/
}


/*******セレクト*****************/

select{
	width: 96%;
	border-radius : 5px;
	background-color: #fff;
/*	font-size: 16px;*/
}


/******価格入力****************/

.pricebox{
	float: right;
	text-align: right;
}

.pricebox input{
	border-radius : 5px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
/*	font-size: 16px;*/
	text-align: right;
}


/********ボタン装飾***************/

.bt-design{
	border-radius: 5px;
	background-color: crimson;
	color: #fff;

	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;

}

.bt-design:hover{
	background-color: red;
}

.bt-design2{
	border-radius: 5px;
	background-color: #808080;
	color: #fff;

	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.bt-design2:hover{
	background-color: #a9a9a9;
}


/*******fotter内テキスト***********/
.content{
		margin-left: auto;
		margin-right: auto;
	}

.copyright p{
	color: #888;
}




/************* スマホ*************/
@media screen and (max-width:1000px){

	.main{
		width: 90%;
		font-size: 28px;
	}

	.content{
		width: 93%;
		text-align: center;
	}

	.font_b{
		font-size: 25px;
		font-weight: bold;
	}

	.sub{
		padding: 0px 15px;
	}

	.required{
		font-size: 18px;
		margin-left: 8px;
	}

	.textbox{
		padding : 15px 10px;
		margin: 5px 3px 3px 15px;
		font-size: 23px;
	}

	textarea{
		padding : 15px 10px;
		margin: 5px 3px 3px 15px;
		font-size: 23px;
	}

	select{
		padding : 15px 10px;
		margin: 5px 3px 3px 15px;
		font-size: 23px;
	}

	.pricebox input{
		padding : 15px 10px;
		margin: 5px 40px 3px 0px;
	}

	.bt-design{
		width: 93%;
		padding : 18px;
		font-size: 23px;
	}

	.bt-design2{
		width: 80%;
		padding : 15px;
		font-size: 23px;
	}


}
/***********************************/


/*************** PC ****************/
@media screen and (min-width:1001px){

	.main{
		width: 50%;
		font-size: 16px;
	}

	.content{
		width: 50%;
	}

	.font_b{
		font-size: 20px;
		font-weight: bold;
	}

	/********項目名****************/

	.sub{
		padding: 5px 30px;
	}

	.box{
		padding: 0px 15px;
	}

	.required{
		font-size: 11px;
	}

	.textbox{
		padding : 10px 8px;
		margin: 3px 3px 3px 12px;
	}

	textarea{
		padding : 10px 8px;
		margin: 3px 3px 3px 12px;
	}

	select{
		padding : 10px 8px;
		margin: 3px 3px 3px 12px;
	}

	.pricebox input{
		padding : 10px 8px;
		margin: 3px 33px 3px 0px;
	}

	.bt-design{
		width: 80%;
		padding : 15px;
		font-size: 16px;
	}

	.bt-design2{
		width: 40%;
		padding : 10px;
		font-size: 16px;
	}

}
/**************************************/