/* CSS document */

/*====== 初期化 ======*/

/*aaaa*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #38429D;
}

/* <input> */
input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  appearance: none;
}

/*======= wrapper =======*/
 #wrapper {
   overflow: hidden;
} 

/*======= header =======*/
#header {
  width: 100%;
  margin-bottom: 15px;
  line-height: 60px;
}
#header input{
  background-color: white;
  background-image: url(../img/baseline_search_black_24dp.png);
  background-repeat: no-repeat;
}
#header img{
  height: 50px;
}
#header li:nth-child(2){
    margin-right: 20px;
    width: 200px;
    height: 50px;
}
#header ul{
  display: flex;
  justify-content: space-between;
}
#header a{
  color: white;
  line-height: 50px;
  padding: 10px;
  height: 50px;
  width: 100px;
}
#header a:nth-child(1){
  margin-right: 30px;
  background-color: #F57180;
  border-radius: 10px;
}
#header a:nth-child(2){
  text-decoration: underline;
}
#header a:nth-child(1):hover{
  background-color: white;
  border-radius: 10px;
  color: #F57180;
}
#header a:nth-child(2):hover{
  background-color: white;
  color: black;
  border-radius: 10px;
}

/*======= contents =======*/
#contents {
  width: 100%;
  margin: 0 auto;
}


/************* スマホ*************/
@media screen and (max-width:1000px){
  
  /*======= header ========*/
  #header {
    height: 150px;
    background-color: gray;
  }
  #header img{
    visibility: hidden;
    margin-right: -50px;
  }
  #header input{
    width: 700px;
    height: 100px;
    background-size: 90px;
    background-position: 10px center;
    border-radius: 20px;
  }
  #header li:nth-child(2){
    visibility: hidden;
  }
  #header ul{
  }
  #header li:nth-child(1){
    margin-left: 50px;
    line-height: 150px;
  }
  
}
/***********************************/


/*************** PC ****************/
@media screen and (min-width:1001px){
  /*PC*/
  
  /*======= header =======*/
  #header {
    height: 60px;
    background-color: gray;
  }
  #header img{
    visibility: visible;
    vertical-align: middle;
    margin-left: 20px;
  }
  #header input{
    width: 800px;
    height: 40px;
    margin-left: 20px;
    font-size: 1.2em;
    vertical-align: middle;
    background-size: 40px;
    background-position: 10px center;
    border-radius: 10px;
  }
}
/**************************************/
