/*======= controller =======*/

#controller {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: white;
    line-height: 150px;
  }
  #controller img{
    height: 100px;
    margin-top: 10px;
    vertical-align: middle;
  }
  #controller ul{
    display: flex;
    justify-content: space-around;
  /*    background-color: blue;*/
  }
  #controller li{
    text-align: center;
  /*    background-color: green;*/
    vertical-align: middle;
    width: 180px;
  }

/************* スマホ*************/
@media screen and (max-width:1000px){
  /*======= controller ========*/
  #controller {
    visibility: visible;
  }
}

/*************** PC ****************/
@media screen and (min-width:1001px){
	/*======= controller =======*/
	#controller {
     visibility: hidden;
  }
}