/* CSS document */

/*====== 初期化 ======*/

/*aaaa*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #EFD8EB;
}

/* <input> */
input,
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  appearance: none;
}

/*======= wrapper =======*/
 #wrapper {
   overflow: hidden;
} 

/*======= header =======*/
#header {
  width: 100%;
  margin-bottom: 15px;
  line-height: 60px;
}

#header {
  position: fixed;
  z-index: 200;
}
#header .Sinput{
  width: 600px;
}

#header input{
  background-color: white;
  background-image: url(../../image/icon/baseline_search_black_24dp.png);
  background-repeat: no-repeat;
}
#header img{
  height: 50px;
}
#header li:nth-child(2){
  margin-right: 40px;
}
#header ul{
  display: flex;
  justify-content: space-between;
  background: #BA78BE;
}
#header a{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#header a img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/*======= contents =======*/
#contents {
  width: 100%;
  margin: 0 auto;
}


/************* スマホ*************/
@media screen and (max-width:1000px){
  
  /*======= header ========*/
  #header {
    height: 150px;
    background-color: gray;
  }
  #header img{
    visibility: hidden;
    margin-right: -50px;
  }
  #header input{
    width: 700px;
    height: 100px;
    background-size: 90px;
    background-position: 10px center;
    border-radius: 20px;
  }
  #header li:nth-child(2){
    visibility: hidden;
  }
  #header ul{
  }
  #header li:nth-child(1){
    margin-left: 50px;
    line-height: 150px;
  }
  
}
/***********************************/


/*************** PC ****************/
@media screen and (min-width:1001px){
  /*PC*/
  
  /*======= header =======*/
  #header {
    height: 60px;
    background-color: gray;
/*
    position: absolute;
    top:0;
    left:0;
    z-index: 200;
*/
  }
  #header img{
    visibility: visible;
    vertical-align: middle;
    margin-left: 20px;
  }
  #header input{
    width: 800px;
    height: 40px;
    margin-left: 20px;
    font-size: 1.2em;
    vertical-align: middle;
    background-size: 40px;
    background-position: 10px center;
    border-radius: 10px;
  }
}
/**************************************/
