/* CSS document */

/*======= linenap =======*/
#linenap {
  width: 100%;
  height: auto;
  margin-top: 150px;
  padding-bottom: 150px;
}
#linenap .Pimg{
  padding-top: 100px;
  text-align: center;
}
#linenap .Pimg img{
  width: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
#linenap .buyButton a{
  margin: 0 auto;
  margin-top: 100px;
  height: 100px;
  width: 60%;
  border-radius: 20px;
  background-color: red;
  display: block;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 2.0em;
}

/*------- title -------*/
#linenap .title{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
#linenap .title li{
  height: 100px;
  font-size: 2.5em;
  border-bottom: solid black 1px;
/*  text-align: center;*/
  line-height: 100px;
}
#linenap .title li:nth-child(1){
  width: 600px;
}
#linenap .title li:nth-child(2){
  text-align: center;
  width: 200px;
}

/*------- details -------*/
.details {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.details .detail{
  width: 50%;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  text-align: center;
  background-color: antiquewhite;
}
.details .detail li:nth-child(1){
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  line-height: 80px;
  font-size: 2.5em;
  border-bottom: solid black 1px;
}
.details .detail li:nth-child(1) span{
}

.details .detail li:nth-child(2){
  line-height: 60px;
  font-weight: 100;
  font-size: 1.5em;
}
.details .detail li:nth-child(3){
  width: 90%;
  font-size: 2.0em;
  font-weight: 100;
  margin-bottom: 50px;
  margin: 0 auto;
}
.details .detail li:nth-child(4){
  margin-top: 25px;
  line-height: 60px;
  font-size: 1.5em;
  font-weight: 100;
}
.details .detail li:nth-child(5){
  font-size: 2.0em;
  font-weight: 100;
  margin-bottom: 50px;
}

.details .condition{
  width: 35%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  text-align: center;
  background-color: azure;
  border-radius: 20px;
}

.details .condition li{
  line-height: 30px;
  margin-top: 20px;
  font-size: 1.5em;
}

.details .condition li:nth-child(1){
  margin-top: 40px;
}

/*------- account -------*/
.account {
  width: 60%;
  height: 100px;
  line-height: 100px;
  margin-left: 50px;
}
.account ul{
  display: flex;
}
.account img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.account li:nth-child(2){
  font-size: 3.0em;
  margin-left: 50px;
}

@media screen and (min-width: 1001px){
  /*PC*/
  .img img{
    width: 300px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
  }
  .img {
    margin-top: 50px;
    margin-left: 30px;
    height: 400px;
    width: 300px;
    background-color: skyblue;
    /* line-height: 300px; */
  }
  .bg {
    height: 500px;
    width: 700px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    display: flex;
    border-radius: 20px;
  }
  .bg ul{
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
    text-align: center;
  }
  .bg li:nth-child(1){
    line-height: 80px;
    height: 80px;
  
  }
  .bg li:nth-child(2){
    border-bottom: solid black 1px;
  }
  .bg li:nth-child(3){
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .bg li:nth-child(5){
    line-height: 200px;
  }
  
  /*------- img -------*/
  
  
  
  /*------- backButton -------*/
  .backButton {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    margin: 20px;
  }
  .backButton img{
    width: 40px;
  }
  .backButton a{
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}
