#member {
  padding-top: 60px;
  width: 100%;
  height: 500px;
  /* display: flex; */
  background-color: white;
  margin-bottom: 100px;
}
.memberIn {
  width: 80%;
  height: 270px;
  display: flex;
/*  background: rgba(30,100,200,1);*/
  margin: 0 auto;
}
#member ul{
  width: 50%;
}
#member li{
  text-align: center;
}
#member .account img,
#member .country img{
  margin-top: 50px;
}
#member .account img{
  border: solid 5px black;
  height: 125px;
  border-radius: 75px;
}
#member .country img{
  height: 125px;
  padding: 25px;
}
#member .memberIn li:nth-child(2){
  color: black;
  margin: 0 auto;
  width: 100px;
  font-size: 1.2em;
  margin-top: 20px;
  line-height: 40px;
  border-bottom: solid black 1px;
}
#member p{
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: teal;
}
#member .memberIn_2{
  width: 100%;
  height: 100px;
  background-color: tomato;
}
#member .memberIn_2 ul{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: solid black 1px;
  display: flex;
}
#member .memberIn_2 li{
  margin-top: 15px;
  height: 70px;
  width: 50%;
  border: solid black 1px;
}
#member .memberIn_2 li:nth-child(1){
  display: flex;
  justify-content: space-around;
}
#member .memberIn_2 li:nth-child(2){
  font-size: 1.5em;
  line-height: 70px;
}
#member .memberIn_2 a{
  height: 40px;
  margin-top: 15px;
  line-height: 40px;
  width: 100px;
  border: solid black 1px;
}