/* CSS document */

/*======= header =======*/
#header {
  position: fixed;
  z-index: 200;
}
#header .Sinput{
  width: 600px;
}

/*======= banner =======*/
#banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
  margin-top: 100px;
}
#banner img {
/*  height: 500px;*/
  width: 900px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*======= footer =======*/
#footer {
  width: 100%;
  height: 500px;
  background-color: gray;
}

/*======= search =======*/
#search {
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 50;
  background-color: white;
  display: none;
/*  opacity: 0*/
}

/*======= category =======*/
#favoriteName {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}
#favoriteName ul{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
}
#favoriteName li{
 text-align: center;
  line-height: 50px;
  background-color: gainsboro;
  border-radius: 25px;
}

/*------- box -------*/
.box {
/*  border-radius: 20px;*/
/*  border-bottom-left-radius: 50px;*/
  margin-bottom: 40px;
/*  border: solid black 5px;*/
/*  overflow: hidden;*/
}
.box::before{
  /* width: 200px; */
  /* height: 200px; */
  /* content: ""; */
  /* display: block; */
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
}

.box img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,1.5%);
  border-radius: 20px;
/*  border-bottom-left-radius: 0px;*/
/*  border-bottom-right-radius: 0px;*/
/*  border-top-left-radius: 10px;*/
/*  border-top-right-radius: 10px;*/
}

.box a{
  display:block;
  /* height: 230px; */
}
/*------- hover -------*/

.box:hover::before{
  background-color: #F57180;
/*  border-bottom-left-radius: 47px;*/
}

#controller li:hover{
  background: rgba(0,0,0,0.4);
}

.box img:hover::before {
  background-color: rgba(0,0,0,0.5);
  width: 100px;
  height: 100px;
}

@media screen and (max-width:1000px){
  /*スマホ*/
  
  /*======= banner ========*/
  #banner {
    visibility: hidden;
    margin-bottom: -500px;
    margin-top: 180px;
  }
  
  /*======= category =======*/
  #favoriteName {
    font-size: 200%;
  }
  #favoriteName ul{
    width: 1300px;
  }
  #favoriteName li{
    width: 200px;
  }
  #favoriteName li:nth-child(1),
  #favoriteName li:nth-child(6) {
    visibility: hidden;
  }
}
@media screen and (min-width:1001px){
  /*PC*/
  
  /*======= category =======*/
  #favoriteName ul{
    width: 1200px;
  }
  #favoriteName li{
    width: 150px;
  }
  #favoriteName li:nth-child(1),
  #favoriteName li:nth-child(6) {
    background-color: white;
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }
  #favoriteName img{
    position: relative;
    left: 50%;
    transform: translate(-85%);
    vertical-align: middle;
  }
}

