/* CSS document */

/*======= header =======*/

/*======= banner =======*/

#banner {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.Bimg {
/*  width: 900px;*/
  width: 100%;
  margin: 0 auto;
  
}
.Bimg img {
  height: 500px;
/*  width: 900px;*/
}


/*======= footer =======*/
#footer {
  width: 100%;
  height: 500px;
  background-color: gray;
}

/*======= search =======*/
#search {
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 50;
  background-color: white;
  display: none;
/*  opacity: 0*/
}

/*======= category =======*/
#favoriteName {
  position: fixed;
  top: 60px;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  background-color: floralwhite;
  display: none;
  z-index: 100;
  border-bottom: solid gray 1px;
}
#favoriteName ul{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
}
#favoriteName li{
 text-align: center;
  line-height: 50px;
  background-color: gainsboro;
  border-radius: 25px;
}

/*------- box -------*/
.box {
  margin-bottom: 40px;
}
.box::before{
/*
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 10;
  content: '+';
  opacity: 0;
*/
}

.box img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,1.5%);
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.box a{
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 2.0em;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: rgba(255,0,0,0.8);
  display: block;
  display: none;
  z-index: 10;
}
/*------- hover -------*/

.box a:hover{
  color: red;
  background-color: floralwhite;
  border: solid gainsboro 1px;
}

.box img:hover{
  box-shadow: 6px 6px 5px rgba(0,0,0,0.3);
}

#controller li:hover{
  background: rgba(0,0,0,0.4);
}

@media screen and (max-width:1000px){
  /*スマホ*/
  
  /*======= banner ========*/
  #banner {
    visibility: hidden;
    margin-bottom: -500px;
    margin-top: 180px;
  }
  
  /*======= category =======*/
  #favoriteName {
    font-size: 200%;
  }
  #favoriteName ul{
    width: 1300px;
  }
  #favoriteName li{
    width: 200px;
  }
  #favoriteName li:nth-child(1),
  #favoriteName li:nth-child(6) {
    visibility: hidden;
  }
}
@media screen and (min-width:1001px){
  /*PC*/
  
  /*======= category =======*/
  #favoriteName ul{
    width: 1200px;
  }
  #favoriteName li{
    width: 150px;
  }
  #favoriteName li:nth-child(1),
  #favoriteName li:nth-child(6) {
    background-color: white;
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }
  #favoriteName img{
    position: relative;
    left: 50%;
    transform: translate(-85%);
    vertical-align: middle;
  }
}

