@charset "utf-8";

*{
	background-color:#f5f5f5;
}

.header{
	background-color: #f5f5f5;
}

.footer{
	background-color: #f5f5f5;
}

.copyright p{
	color: #666;
}


/*******fotter内テキスト***********/
.content{
		margin-left: auto;
		margin-right: auto;
	}


/**********テキストボックス***********/

.textbox{
	width: 85%;
	border-radius : 5px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: white;

}



/********ボタン装飾***************/

.bt-design{
	padding : 5px 8px;
	border-radius: 5px;
	background-color: crimson;
	color: #fff;

	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;

}

.bt-design:hover{
	background-color: red;
}

.bt-design2{
	padding : 5px 8px;
	border-radius: 5px;
	background-color: #4169e1;
	color: #fff;

	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.bt-design2:hover{
	background-color: #1e90ff;
}



/************* スマホ*************/
@media screen and (max-width:1000px){

	.header{
		height: 280px;
	}

	.header img{
		height: 180px;
		margin-top: 50px;
	}

	.main{
		width: 90%;
		height: 700px;
		padding-top: 20px;
	}

	.content{
		width: 90%;
		text-align: center;
		margin-top: 10px;
	}

	.textbox{
		font-size: 25px;
		padding: 15px 20px;
		margin: 8px;
	}

	.bt-design{
		width: 85%;
		padding: 15px;
		font-size: 25px;
	}

	.bt-design2{
		width: 85%;
		padding: 15px 0px;
		font-size: 25px;
	}

	.font{
		font-size: 23px;
	}

}
/***********************************/


/*************** PC ****************/
@media screen and (min-width:1001px){

	.header{
		height: 200px;
	}

	.header img{
		height: 150px;
		margin-top: 25px;
	}

	.main{
		width: 33%;
		height: 430px;
	}

	.content{
		width: 33%;
	}

	.textbox{
		font-size: 16px;
		padding : 5px 8px;
		margin: 3px;
	}

	.bt-design{
		width: 75%;
		padding: 5px 8px;
		font-size: 16px;
	}

	.bt-design2{
		width: 75%;
		padding: 5px 8px;
		font-size: 16px;
	}


	.font{
		font-size: 15px;
	}
}
/**************************************/
