/* CSS document */

/*======= contents =======*/
#contents {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #38429D;
  z-index: -1;
}

/*------- bg -------*/
.bg li:nth-child(3){
  border:solid black 3px;
  float: left;
  margin-top: 20px;
}
.bg li:nth-child(4){
  float: left;
  line-height: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bg li:nth-child(5){
  width: 100%;
  border: solid black 3px;
  overflow: hidden;
  text-align: center;
}

/*------- backButton -------*/
  .backButton {
    background-color: white;
    text-align: center;
  }
  .backButton img{
    vertical-align: middle;
  }
  .backButton a{
    display: block;
    vertical-align: middle;
  }
  .backButton a:hover{
    background: rgba(0,0,0,0.5);
  }


@media screen and (max-width: 1000px){
  /*スマホ*/
  
  /*======= header =======*/
  #header ul{
    visibility: hidden;
  }
  
  /*-------- img -------*/
  .img img{
    width: 100%;
    margin-top: 150px;
  }

  /*------- bg -------*/
  .bg {
    background-color: white;
    height: 100vh;
  }
  .bg li:nth-child(1){
    font-size: 400%;
    padding-left: 50px;
    /* text-decoration: underline; */
    border-bottom: solid black 1px;
  }
  .bg li:nth-child(2){
    margin: 20px;
    font-size: 400%;
    /* padding-left:50px; */
    text-align: end;
  }
  .bg li:nth-child(3){
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 40px;
  }
  .bg li:nth-child(4){
    font-size: 200%;
    margin: 40px;
    line-height: 100px;
  }
  .bg li:nth-child(5){
    width: 90%;
    height: 300px;
    margin: 0 auto;
    font-size: 300%;
    line-height: 300px;
  }
  .bg span{
    font-size: 80%;
  }
  
  /*------- backButton -------*/
  .backButton {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    line-height: 100px;
    margin: 20px;
  }
  .backButton img{
    width: 80px;
/*    margin-left: 10px;*/
  }
  .backButton a{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
}
@media screen and (min-width: 1001px){
  /*PC*/
  .img img{
    width: 300px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
  }
  .img {
    margin-top: 50px;
    margin-left: 30px;
    height: 400px;
    width: 300px;
    background-color: skyblue;
    /* line-height: 300px; */
  }
  .bg {
    height: 500px;
    width: 700px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    display: flex;
    border-radius: 20px;
  }
  .bg ul{
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
    text-align: center;
  }
  .bg li:nth-child(1){
    line-height: 80px;
    height: 80px;
  
  }
  .bg li:nth-child(2){
    border-bottom: solid black 1px;
  }
  .bg li:nth-child(3){
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .bg li:nth-child(5){
    line-height: 200px;
  }
  
  /*------- img -------*/
  
  
  
  /*------- backButton -------*/
  .backButton {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    margin: 20px;
  }
  .backButton img{
    width: 40px;
  }
  .backButton a{
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}
