/* CSS document */

/*======= search =======*/
#search {
  width: 100%;
/*  position: fixed;*/
  left: 0;
  z-index: 50;
  background-color: white;
  display: none;
  overflow: hidden;
/*  opacity: 0*/
}


/*======= popular =======*/
#popular {
  width: 800px;
  height: auto;
  margin: 0 auto;
}
#popular h2,
#category h2{
  font-size: 1.5em;
  font-weight: 100;
  margin: 50px;
  vertical-align: middle;
  margin-bottom: 15px;
}
#popular h2{
  margin-top: 50px;
}
#popular img{
  height: 35px;
  vertical-align: middle;
}
#popular ul{
  display: flex;
}
#popular li{
  width: 150px;
  height: 60px;
  background-color: gainsboro;
  text-align: center;
  line-height: 60px;
  font-size: 1.2em;
  border-radius: 30px;
  margin-left: 30px;
}

/*======= category =======*/
#category {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  height: auto;
}
#category h2 > img{
  height: 30px;
  vertical-align: middle;
}
#category h2{
  margin-top: 50px;
}

/*------- categoryBox ------*/
.categoryBox {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

/*------- box -------*/
.Sbox {
  border-radius: 20px;
  margin: 10px;
  height: 220px;
  width: 180px;
  background-color: white;
  border: solid  #38429D 2px;
}
.Sbox img{
  width: 100px;
  margin-left: 40px;
  margin-top: 30px;
}
.Sbox li:nth-child(2){
	font-size: 1.5em;
	text-align: center;
}

/*------- backButton -------*/
.backButton {
  box-sizing: border-box;
  position: fixed;
  top: 70px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: solid black 1px;
  line-height: 50px;
  margin: 20px;
}
.backButton img{
  width: 50px;
/*    margin-left: 10px;*/
}
.backButton a{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*======= search =======*/
#search {
  position: fixed;
  width: 100%;
  height: auto;
/*  height: 100vh;*/
}
#search ul{
}
#search button{
/*
  width: 220px;
  line-height: 100px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
*/
/*  background-color: aqua;*/
}
.Scontents {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
}
.Scontent{
  width: 100%;
  height: 100vh;
}

/*------- sujest -------*/
.sujest {
  background-color: aqua;
}
.sujest .sujestIn_1 li{
  width: 100%;
  height: 100%;
  margin-top: 110px;
}
.sujest .sujestIn_1 img{
  width: 100%;
}
.sujest .sujestIn_2 {
  width: 100%;
  height: 500px;
  background-color: orangered;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.sujest .sujestIn_2 img{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  width: 400px;
  border-radius: 20px;
}
.sujest button{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  font-size: 2.0em;
  width: 200px;
  line-height: 80px;
  border: solid black 1px;
  text-align: center;
}

.trend {
  background-color: aquamarine;
}
.category {
  background-color: blueviolet
}



/*======== slick setting =======*/
.slickDot {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}
.slickDot button{
/*  position: relative;*/
  text-indent: -9999px;
  height: 100px;
/*  top: 200px;*/
}
.slickDot button::before{
  width: 220px;
  line-height: 100px;
  text-align: center;
  font-size: 2.0em;
  font-weight: 100;
  text-indent: 0px;
  position: absolute;
  top: 0;
/*  background-color: red;*/
}
.slickDot li.slick-active button::before{
  border-bottom: solid red 10px;
}
.slickDot li:nth-child(1) button::before{
  content: 'おすすめ';
  left: 0;
}
.slickDot li:nth-child(2) button::before{
  content: 'トレンド';
  left: 220px;
}
.slickDot li:nth-child(3) button::before{
  content: 'カテゴリー';
  left: 440px;
}


@media screen and (max-width:1000px){
  /*スマホ*/
  /*======= search =======*/
  #search {
    height: 100vh;
    top: 150px;
    
  }
}

@media screen and (min-width:1001px){
  /*PC*/
  /*======= search =======*/
  #search {
    top: 60px;
  }
}