/* CSS document */

/*======= search =======*/
#search {
  width: 100%;
  left: 0;
  z-index: 50;
  background-color: white;
  display: none;
/*  display: block;*/
  overflow: hidden;
/*  opacity: 0*/
}

/*------- box -------*/
.Sbox {
  border-radius: 20px;
  margin: 10px;
  height: 220px;
  width: 180px;
  background-color: white;
  border: solid  #38429D 2px;
}
.Sbox img{
  width: 100px;
  margin-left: 40px;
  margin-top: 30px;
}
.Sbox li:nth-child(2){
	font-size: 1.5em;
	text-align: center;
}

/*------- backButton -------*/
.backButton {
  box-sizing: border-box;
  position: fixed;
  top: 70px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: solid black 1px;
  line-height: 50px;
  margin: 20px;
}
.backButton img{
  width: 50px;
/*    margin-left: 10px;*/
}
.backButton a{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*======= search =======*/
#search {
  position: fixed;
  width: 100%;
  height: auto;
/*  height: 100vh;*/
}
#search ul{
}
#search button{
/*
  width: 220px;
  line-height: 100px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
*/
/*  background-color: aqua;*/
}
.Scontents {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
}
.Scontent{
  width: 100%;
  height: 100vh;
}

/*------- sujest -------*/
.sujest {
  background-color: #EFD8EB;
}
.sujest .sujestIn_1 li{
  width: 100%;
  height: 100%;
  margin-top: 110px;
}
.sujest .sujestIn_1 img{
  width: 100%;
}
.sujest .sujestIn_2 {
  width: 100%;
  height: 500px;
  background-color: #F2F2C6;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.sujest .sujestIn_2 img{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  width: 400px;
  border-radius: 20px;
}
.sujest button{
  color: #BA78BE;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  font-size: 2.0em;
  width: 200px;
  line-height: 80px;
  border: solid #BA78BE 2px;
  text-align: center;
}

/*-------- trend -------*/
.trend {
  background-color: #EFD8EB;
  color: #702075;
}
.trend h2{
  display: flex;
  width: 100%;
  line-height: 125px;
  margin-top: 110px;
  padding-left: 30px;
  font-size: 3.0em;
  border-bottom: solid gray 1px;
}
.trend img{
  margin-top: 30px;
  height: 60px;
}
.trend li {
  width: 100%;
  height: 200px;
  border-bottom: solid gray 1px;
}
.trend .rank{
  font-size: 2.0em;
  color: #9b42a1;
  text-align: center;
  line-height: 100px;
/*  margin-left: 30px;*/
  width: 200px;
  height: 100px;
}
.trend .title{
/*  width: 100%;*/
/*  line-height: 100px;*/
  font-size: 2.2em;
  position: relative;
  top: 55px;
  left: -130px;
}
.trend .Scount{
  font-size: 2.0em;
  color: #9b42a1;
  position: relative;
  top: 110px;
  left: -280px;
}
.trend li::before{
  content: '>';
  color: gray;
  font-size: 2.0em;
  position: relative;
  left: 90%;
  top: 20px;
/*  display: block;*/
}

/*------- category -------*/

.category {
  background-color: #EFD8EB;
}
.category h2{
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 900px;
  line-height: 125px;
  margin-top: 110px;
  padding-left: 30px;
  font-size: 3.0em;
  color: #702075;
/*  background-color: aqua;*/
}
.category img{
  width: 55px;
/*  margin-top: 35px*/
}
.categoryIn {
  width: 900px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns: 300px 300px 300px;
}
.categoryIn .Ccontent{
  margin: 20px;
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.category .Ccontent a{
  position: relative;
  z-index: 100;
  width: 260px;
  height: 310px;
  border-radius: 20px;
  display: block;
}
.category .Ccontent a:hover{
  background-color: rgba(0,0,0,0.5);
}
.category .Ccontent li:nth-child(2){
  position: relative;
  top: -310px;
  width: 260px;
  height: 310px;
  border-radius: 20px;
/*  background-color: aqua;*/
}
.category .Ccontent img{
  width:120px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.category .Ccontent li:nth-child(3){
  position: relative;
  top: -400px;
  left: 0;
  width: 260px;
  height: auto;
  text-align: center;
  font-size: 2.0em;
  font-weight: 100;
}


/*======== slick setting =======*/
.slickDot {
  position: absolute;
  top: 0;
  width: 100%;
  height: 110px;
  background-color: white;
}
.slickDot button{
/*  position: relative;*/
  text-indent: -9999px;
  height: 100px;
/*  top: 200px;*/
}
.slickDot button::before{
  width: 220px;
  line-height: 100px;
  text-align: center;
  font-size: 2.0em;
  font-weight: 100;
  text-indent: 0px;
  position: absolute;
  top: 0;
/*  background-color: red;*/
}
.slickDot li.slick-active button::before{
  border-bottom: solid #9b42a1 10px;
  color: #702075;
}
.slickDot li:nth-child(1) button::before{
  content: 'おすすめ';
  left: 0;
}
.slickDot li:nth-child(2) button::before{
  content: 'トレンド';
  left: 220px;
}
.slickDot li:nth-child(3) button::before{
  content: 'カテゴリー';
  left: 440px;
}


@media screen and (max-width:1000px){
  /*スマホ*/
  /*======= search =======*/
  #search {
    height: 100vh;
    top: 150px;
    
  }
}

@media screen and (min-width:1001px){
  /*PC*/
  /*======= search =======*/
  #search {
    top: 60px;
  }
}