@charset "utf-8";

.header{
	height: 200px;
}


.header img{
	height: 150px;
	margin-top: 25px;
}


.main{
	height: 430px;
	width: 500px;
}


.font{
	font-size: 15px;
}

/*******fotter内テキスト***********/
.content{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}


/**********テキストボックス***********/

.textbox{
	width: 360px;
	padding : 5px 8px;
	margin: 3px;
	border-radius : 5px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: white;
	font-size: 16px;

}



/********ボタン装飾***************/

.bt-design{
	width: 380px;
	padding : 5px 8px;
	border-radius: 5px;
	background-color: crimson;
	font-size: 16px;
	color: #fff;

	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;

}

.bt-design2{
	width: 380px;
	padding : 5px 8px;
	border-radius: 5px;
	background-color: #4169e1;
	font-size: 16px;
	color: #fff;

	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
}
